html {
  background-color:#313131;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Titan One";
  color:white;
}

.textfont {
  font-family: "Titan One";
  color:white;
}

@font-face {
  font-family: "Titan One";
  src: url("TitanOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

a {
  color: #00b5ff;
}

a:hover {
  color:#0088bd;
}
